*.swp
dict/
t_segmentWapper
sentiment-analysis/samples/samples*
sentiment-analysis/samples/vocab*
sentiment-analysis/test/t_feature_selection_tfidf
sentiment-analysis/test/bin/
sentiment-analysis/samples/feat*
sentiment-analysis/samples/comment_scale
sentiment-analysis/samples/test_data
word-embeddings/resource/
