*.swp
dict/
t_segmentWapper
apps/sentiment-analysis/samples/samples*
apps/sentiment-analysis/samples/vocab*
apps/sentiment-analysis/test/t_feature_selection_tfidf
apps/sentiment-analysis/test/bin/
apps/sentiment-analysis/samples/feat*
apps/sentiment-analysis/samples/comment_scale
apps/sentiment-analysis/samples/test_data
word-embeddings/resource/
